html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none;
  cursor: pointer; }

@font-face {
  font-family: "CenturyGothicRegular";
  src: url("../fonts/CenturyGothicRegular.eot");
  src: url("../fonts/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font: 16px/21px CenturyGothicRegular;
  color: #424147;
  background: #f6f6f6; }

.button-link {
  display: inline-block;
  padding: 0 15px;
  line-height: 38px;
  color: #FFFFFF;
  background: #000000;
  border: 2px solid transparent;
  border-bottom-color: #ffea00; }
  .button-link:hover, .button-link:focus {
    color: #FFFFFF;
    text-decoration: none;
    border-color: #ffea00; }

.header-section {
  margin-bottom: 40px;
  text-align: center; }
  .header-section .wrapper-title {
    display: inline-block;
    padding: 0 30px;
    background: #f6f6f6; }
    .header-section .wrapper-title h1 {
      display: inline-block;
      margin-bottom: 30px;
      padding: 0 30px;
      font-size: 1.1em;
      text-transform: uppercase;
      color: #ffea00;
      background: #424147; }
  .header-section:before {
    content: "";
    position: relative;
    bottom: -10px;
    z-index: -3;
    display: block;
    width: 100%;
    height: 1px;
    background: #cacaca; }

.new-line {
  display: block; }

#header {
  padding: 5px 10px; }
  #header .logo {
    width: 80px;
    height: 80px;
    overflow: hidden; }

.nav-wrapper {
  margin: 0;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .nav-wrapper .mob-menu-button {
    margin: 20px;
    background: transparent; }
    .nav-wrapper .mob-menu-button .icon-bar {
      color: #ffea00; }
    .nav-wrapper .mob-menu-button:focus, .nav-wrapper .mob-menu-button:hover,
    .nav-wrapper .mob-menu-button .active {
      background: transparent;
      -webkit-box-shadow: 0 0 8px #ffea00;
              box-shadow: 0 0 8px #ffea00; }
  .nav-wrapper .main-nav {
    padding: 20px 0 0; }
    .nav-wrapper .main-nav > li {
      margin-left: 10px; }
      .nav-wrapper .main-nav > li > a {
        color: #000000;
        line-height: 2em;
        text-transform: uppercase; }
        .nav-wrapper .main-nav > li > a:hover, .nav-wrapper .main-nav > li > a:focus, .nav-wrapper .main-nav > li > a.active {
          background: #ffea00; }

@media screen and (min-width: 768px) {
  #header {
    padding: 5px 50px; }
    #header .logo {
      width: 116px;
      height: 116px;
      overflow: hidden; } }

@media screen and (min-width: 992px) {
  #header {
    padding: 5px 120px; }
    #header .main-nav > li {
      margin-left: 30px; } }

@media screen and (min-width: 1200px) {
  #header .main-nav > li {
    margin-left: 60px; } }

@media screen and (min-width: 1400px) {
  #header {
    padding: 20px 120px; } }

.slider-section #slider-top {
  height: 400px;
  overflow: hidden; }
  .slider-section #slider-top .slider-content {
    height: 100%; }
    .slider-section #slider-top .slider-content > .slide > .bg-img {
      display: block;
      max-width: 1000px;
      height: 100%; }

.slider-section .slider-nav-bottom li {
  width: 22px;
  height: 22px;
  margin: 0;
  background-color: #414146;
  border: 2px solid transparent;
  -webkit-border-radius: 0;
          border-radius: 0; }

.slider-section .slider-nav-bottom .active {
  background-color: #ffea00;
  border: 2px solid #414146; }

.slider-section .slider-caption {
  overflow: hidden;
  right: 20px;
  bottom: 5%;
  padding-top: 5px;
  left: 20px;
  top: 0;
  text-align: left; }
  .slider-section .slider-caption h2 {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-size: 20px;
    line-height: 1.2em;
    text-transform: uppercase; }
    .slider-section .slider-caption h2 span.new-line {
      display: inline-block; }
    .slider-section .slider-caption h2 span.bg {
      background: #ffea00; }
  .slider-section .slider-caption .caption-p {
    padding: 0; }
    .slider-section .slider-caption .caption-p .bg {
      font-size: 1em;
      line-height: 1.4em;
      background: #414146; }
  .slider-section .slider-caption .col-button {
    margin-top: 10px;
    text-align: right;
    font-size: 1em; }
    .slider-section .slider-caption .col-button .button-link {
      line-height: 20px; }

.slider-section .wrapper-img li {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }
  .slider-section .wrapper-img li li {
    background: #ffffff; }

.slider-section .slider-nav {
  background: transparent;
  width: 5%;
  opacity: 1; }
  .slider-section .slider-nav .fa {
    font-size: 50px;
    line-height: 100px; }
  .slider-section .slider-nav .slider-nav-right,
  .slider-section .slider-nav .slider-nav-left {
    margin-top: -50px;
    width: auto;
    height: auto;
    background: #000000; }
    .slider-section .slider-nav .slider-nav-right:before,
    .slider-section .slider-nav .slider-nav-left:before {
      content: ""; }
  .slider-section .slider-nav .slider-nav-right {
    right: 0;
    margin-right: 10px;
    padding: 0 5px 0 10px; }
  .slider-section .slider-nav .slider-nav-left {
    left: 0;
    margin-left: 10px;
    padding: 0 10px 0 5px; }
  .slider-section .slider-nav:hover {
    opacity: 0.5; }

@media screen and (min-width: 768px) {
  .slider-section #slider-top {
    max-height: -webkit-calc(100vh - 130px);
    max-height: calc(100vh - 130px);
    height: auto; }
    .slider-section #slider-top .slider-content > .slide > .bg-img {
      max-width: 100%;
      width: 100%;
      height: auto; }
  .slider-section .slider-caption {
    right: 70px;
    bottom: 5%;
    left: 70px;
    padding: 20px; }
    .slider-section .slider-caption h2 {
      margin-top: 8%;
      font-size: 10px;
      font-size: 30px; }
      .slider-section .slider-caption h2 span.new-line {
        display: block;
        margin-bottom: 5px; }
    .slider-section .slider-caption .caption-p .bg {
      font-size: 1.1em; }
    .slider-section .slider-caption .col-button {
      margin-top: 15px;
      font-size: 1.1em; }
      .slider-section .slider-caption .col-button .button-link {
        line-height: 48px; }
  .slider-section .wrapper-img {
    margin-left: -webkit-calc(-100%/11);
    margin-left: calc(-100%/11); } }

@media screen and (min-width: 992px) {
  .slider-section .slider-caption {
    right: 120px;
    left: 120px; }
    .slider-section .slider-caption h2 {
      margin-top: 10%;
      font-size: 40px; }
    .slider-section .slider-caption .caption-p .bg {
      font-size: 1.3em; }
    .slider-section .slider-caption .col-button {
      margin-top: 30px;
      font-size: 1.4em; } }

@media screen and (min-width: 1200px) {
  .slider-section .slider-caption h2 {
    margin-top: 12%;
    font-size: 50px; }
  .slider-section .slider-caption .caption-p .bg {
    font-size: 1.5em; }
  .slider-section .slider-caption .col-button {
    font-size: 1.5em; } }

@media screen and (min-width: 1400px) {
  .slider-section #slider-top {
    max-height: -webkit-calc(100vh - 160px);
    max-height: calc(100vh - 160px);
    overflow: hidden; }
  .slider-section .slider-caption {
    right: 140px;
    left: 140px; }
    .slider-section .slider-caption h2 {
      margin-top: 10%;
      font-size: 70px; } }

@media screen and (min-width: 1900px) {
  .slider-section .slider-caption {
    right: 250px;
    left: 250px; }
    .slider-section .slider-caption h2 {
      margin-top: 8%;
      font-size: 80px; } }

.content-section {
  padding: 40px 10px;
  text-align: center; }
  .content-section header h1 {
    margin-bottom: 15px;
    font-size: 1.5em;
    line-height: 1.2em;
    text-transform: uppercase; }
  .content-section header p {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 30px; }
  .content-section li {
    padding: 0 15px;
    margin-bottom: 10px; }
    .content-section li .caption {
      position: relative;
      padding: 20px;
      color: #ffffff;
      font-size: 0.8em/1.3em;
      text-align: center;
      background: #414146; }
      .content-section li .caption:before {
        content: '';
        display: none;
        position: absolute;
        top: -22px;
        right: 10%;
        border: 15px solid transparent;
        border-bottom: 11px solid #414146; }
    .content-section li .hover-caption {
      position: absolute;
      display: none;
      top: 10%;
      left: 5%;
      right: 5%;
      bottom: 0;
      background: #414146; }
      .content-section li .hover-caption p {
        text-transform: uppercase;
        font-size: 20px;
        text-align: left; }
      .content-section li .hover-caption .new-line {
        text-align: right;
        font-size: 10px; }
      .content-section li .hover-caption a {
        color: #ffea00; }
    .content-section li:hover .hover-block {
      z-index: -3; }
    .content-section li:hover .caption:before {
      display: block; }
    .content-section li:hover .hover-caption {
      display: block; }
  .content-section .group-block {
    position: relative;
    border-bottom: 1px solid #414146; }
  .content-section .hover-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffea00; }
    .content-section .hover-block p {
      font-size: 1.25em;
      text-transform: uppercase;
      margin-bottom: 10px; }

@media screen and (min-width: 768px) {
  .content-section {
    padding: 40px 30px; }
    .content-section header h1 {
      margin-bottom: 15px;
      font-size: 1.8em; }
    .content-section header p {
      font-size: 1.3em;
      margin-bottom: 40px; } }

@media screen and (min-width: 992px) {
  .content-section {
    padding: 80px 100px; }
    .content-section li {
      padding: 0 25px; }
    .content-section header h1 {
      margin-bottom: 25px;
      font-size: 2.1em; }
    .content-section header p {
      font-size: 1.5em;
      margin-bottom: 60px; } }

@media screen and (min-width: 1200px) {
  .content-section {
    padding: 80px 100px; } }

@media screen and (min-width: 1400px) {
  .content-section {
    padding: 80px 200px; } }

.portfolio-section .masonry {
  margin-bottom: 80px; }
  .portfolio-section .masonry .item {
    float: left;
    margin: 0;
    padding: 2px 2px; }

.clients-section .sl {
  margin: 0 30px;
  margin-bottom: 100px; }
  .clients-section .sl .sl_slide {
    padding: 0 20px; }

.clients-section .slick-prev:before,
.clients-section .slick-next:before {
  font-family: FontAwesome;
  font-size: 50px;
  line-height: 100px;
  color: #FFFFFF;
  background: #000000; }

.clients-section .slick-prev:before {
  content: "\f105"; }

.clients-section .slick-prev:before {
  content: "\f104"; }

#footer {
  padding: 20px 0 0 0;
  font-size: 13px;
  color: #FFFFFF;
  background: #3f3f44; }
  #footer .wrapper {
    padding: 0 15px; }
  #footer .footer-col {
    padding: 0 15px; }
  #footer .footer-section {
    overflow: hidden;
    margin-bottom: 30px; }
  #footer .footer-title {
    font-size: 1.4em;
    margin-bottom: 25px; }
  #footer .footer-link {
    color: #ffea00; }
  #footer .button-link {
    margin-top: 30px;
    font-size: 15px; }
  #footer .galery-stream {
    margin: 0 -3px; }
    #footer .galery-stream li {
      padding: 0 3px 6px; }
  #footer .tweets-section {
    margin-bottom: 0; }
  #footer .tweets {
    margin-left: 2.8em; }
    #footer .tweets li {
      margin-bottom: 20px; }
    #footer .tweets .fa-li {
      top: 0.5em;
      font-size: 22px; }
    #footer .tweets .show-date {
      display: block;
      color: #ffea00;
      font-size: 0.6em; }
  #footer .social-title {
    display: inline-block; }
  #footer .social-icon {
    display: inline-block;
    text-align: center; }
    #footer .social-icon li {
      display: inline-block;
      width: 30px;
      margin-right: 2px;
      margin-bottom: 2px;
      text-align: center;
      line-height: 30px;
      background: #000000; }
    #footer .social-icon .fa {
      font-size: 1.3em;
      color: #FFFFFF; }
  #footer .contact dt, #footer .contact dd {
    display: inline-block; }
  #footer .contact dt.address:before,
  #footer .contact dt.phone:before,
  #footer .contact dt.mail:before {
    display: inline-block;
    width: 30px;
    margin-right: 20px;
    font-family: FontAwesome;
    font-size: 1.3em;
    line-height: 30px;
    text-align: center;
    background: #000000; }
  #footer .contact dt.address:before {
    content: "\f041"; }
  #footer .contact dd.address {
    display: block;
    padding-left: 100px;
    margin-bottom: 20px; }
  #footer .contact dt.phone:before {
    content: "\f232"; }
  #footer .contact dd.phone {
    display: block;
    padding-left: 100px;
    margin-bottom: 20px; }
  #footer .contact dt.mail:before {
    content: "\f0e0"; }
  #footer .footer-bootom-block {
    background: #000000; }
    #footer .footer-bootom-block .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px 15px; }
    #footer .footer-bootom-block .bottom-nav {
      text-align: center; }
      #footer .footer-bootom-block .bottom-nav li {
        display: inline-block;
        margin-left: 50px; }
      #footer .footer-bootom-block .bottom-nav a {
        display: inline-block;
        padding: 0 10px;
        color: #ffffff;
        line-height: 2.2em;
        font-size: 1.2em;
        text-transform: uppercase; }
        #footer .footer-bootom-block .bottom-nav a:hover, #footer .footer-bootom-block .bottom-nav a:focus {
          color: #000000;
          background: #ffea00;
          text-decoration: none; }

@media screen and (min-width: 768px) {
  #footer {
    padding: 20px 0 0 0; }
    #footer .wrapper {
      padding: 0 15px; }
    #footer .footer-col {
      padding: 0 15px; }
    #footer .tweets li {
      margin-bottom: 15px; }
    #footer .footer-bootom-block .wrapper {
      padding: 20px 30px; }
    #footer .footer-bootom-block .bottom-nav li {
      margin-left: 5px; }
    #footer .footer-bootom-block .bottom-nav a {
      display: inline-block;
      padding: 0 3px; } }

@media screen and (min-width: 992px) {
  #footer .wrapper {
    padding: 0 70px; }
  #footer .footer-col {
    padding: 0 45px; }
  #footer .tweets li {
    margin-bottom: 20px; }
  #footer .footer-bootom-block .wrapper {
    padding: 20px 115px; }
  #footer .footer-bootom-block .bottom-nav li {
    margin-left: 40px; }
  #footer .footer-bootom-block .bottom-nav a {
    display: inline-block;
    padding: 0 10px; } }
